<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{name_soft}} {{type_soft}} {{vol_soft}} {{authority_soft}}  QQ群:{{qq_group}} 手机:{{tel_lqab}} {{sys_time}}</title>
<link rel="shortcut icon" href="{{ static_url("img/logo.ico") }}" />
<style type="text/css">
body {  font-family: "宋体"; font-size: 26pt}
A {text-decoration: none; color: #000000; font-family: "宋体"; font-size: 26pt}
A:hover {text-decoration: underline; color: #000000; font-family: "宋体"; font-size: 28pt}
.important {
	color: #640000;
}
</style>

<body>

<center>
<div style="width:518;">
<p><img src="./statics/img/lqab_dae.jpg" width="518" height="309" /></p>
<p>
<form name="myform_x0" method="post" action="show" id="x0" accept-charset="utf-8" onsubmit="document.charset='utf-8';">
<table width="518" border="0" align="center">
<tr>
<td colspan="2" height="43" align="center">
命令：<textarea name="q" type="text" cols="28" id="tValue" style="overflow-y:hidden; height:20px;" onpropertychange="this.style.height=this.scrollHeight + 'px'" oninput="this.style.height=this.scrollHeight + 'px'" value="你好">
</textarea>
</td>
</tr>
<tr>
<td width="50%" height="55" align="right" valign="middle">
<input type="submit" name="button" id="button" value="提交" />
&nbsp;&nbsp;
</form>
</td>
<form id="form2" name="form2" method="get" action="/">
<td width="50%" height="55" align="left" valign="middle">
&nbsp;&nbsp;<input type="submit" name="button" id="button" value="重置" />
</td></form>
</tr>
</table>
</p>
<br>
<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=8deabc050e539b044f4de3c16a371b07d84a8178dd3e28bafe0701da6921ecde"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="蓝翔算力" title="蓝翔算力"></a>
</p>
</div>
</center>

</body>
</html>